<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Пользователи</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<div class="container mt-5">
    <h1>Пользователи</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Имя пользователя</th>
            <th scope="col">Пароль</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>


        <div th:each="el : ${users}" class="alert alert-info mt-2">
            <tr>
                <td th:text="${el.username}"></td>
                <td th:text="${el.password}"></td>

                <td>
                    <a th:href="'/user/' + ${el.id} + '/edit'" class="btn btn-sm btn-warning">Редактировать</a>
                    <form th:action="'/user/' + ${el.id} + '/remove'" method="post"><br>
                        <button class="btn btn-sm btn-warning" type="submit">Удалить</button>
                    </form>
                </td>
            </tr>
        </div>

        </tbody>
    </table>
</div>

<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>